body {
	background-color: #FBEFD5;;
	font-family: sans-serif;
	font-size: 10pt;
	color: #000000;
}

#maintable {
	width: 700px;
	margin-left:auto; 
	margin-right:auto;
}

#submitbutton {
	float: right;
}

#esosubmituploadscreen {
	position: fixed;
	z-index: 100;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0, 0.8);
	text-align: center;
	vertical-align: middle;
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding-top: 25%;
}