@font-face {
	font-family: 'EsoFontStyle';
	src: url('esofontregular-webfont.eot');
	src: url('esofontregular-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontregular-webfont.woff2') format('woff2'),
		url('esofontregular-webfont.woff') format('woff'),
		url('esofontregular-webfont.ttf') format('truetype'),
		url('esofontregular-webfont.svg#esofontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyle';
	src: url('esofontbold-webfont.eot');
	src: url('esofontbold-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontbold-webfont.woff2') format('woff2'),
		url('esofontbold-webfont.woff') format('woff'),
		url('esofontbold-webfont.ttf') format('truetype'),
		url('esofontbold-webfont.svg#esofontbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyleAlt';
	src: url('esofontregular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyleAlt';
	src: url('esofontbold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

#esovcpFooter {
	color: #777;
	font-style: italic;
	font-size: 0.9em;
}

#esovcpFooter a {
	text-decoration: none;
	color: #6666ff;
}

#esovcpFooter a:visited {
	text-decoration: none;
	color: #996699;
}

.esovcpUpdateDate {
	color: #777;
	font-style: italic;
}

#esovcpContainer {
	position: relative;
	width: 512px;
	height: 512px;
	border: solid 1px gray;
	margin: 0 auto;
	overflow: hidden;
	background-color: black;
}

#esovcpRoot {
	top: 0px;
	width: 100%;
	height: 100%;
	transform-origin: center;
	position: relative;
}

#esovcpBackGroundImage {
	width: 100%;
	height: 100%;
}

#esovcpCPDisc_Tower {
	position: absolute;
	width: 33%;
	height: 33%;
	background-image: url('champion_constellations-1.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: cover;
	top: 20%;
	left: 50%;
	transform: rotate(80deg) translate(33%,-33%);
	opacity: 0.7;
}

#esovcpCPDisc_Tower_Hover {
	background-image: url('champion_constellations_glow-1.png');
	background-repeat: no-repeat;
	background-position: 0px 0px;
	background-size: cover;
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	display: none;
}

#esovcpCPDisc_Tower:hover {
	opacity: 1;
}

#esovcpCPDisc_Tower:hover #esovcpCPDisc_Tower_Hover {
	opacity: 1;
}
