@font-face {
	font-family: 'EntezareZohoor2';
	src: url('fonts/EntezareZohoor2.eot'), url('fonts/EntezareZohoor2.ttf') format('truetype'), url('fonts/EntezareZohoor2.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

.#esoil_rawdatalist {
	font-weight: bold;
	text-decoration: underline;
}

#esoil_rawdatatable {
	margin-left: 50px;
}

table#esoil_rawdatatable td:first-child {
	text-align: right;
	font-weight: normal;
	margin-right: 3px;
	border-right: solid 3px #ccc;
	padding: 2px;
}

table#esoil_rawdatatable td {
	text-align: left;
	padding: 2px;
}

table#esoil_rawdatatable tr:hover {
	background: #eee;
}

h1, h2, h3 {
	margin: 5px;
}

.esoil_icon {
	vertical-align: middle;
}

#esoil_itembox {
	background-color: #000;
	border: solid 3px #C5C29E;
	border-image: url(eso_item_border.png) 5 5 5 5 repeat;
	border-width: 5px 5px 5px 5px;
	font-family: "Univers LT Std Condensed", "Arial", sans-serif;
	display: inline-block;
	position: relative;
	margin-top: 24px;
	max-width: 400px;
	min-width: 400px;
}

.esoil_itemicon {
	display: block;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: -24px;
}

.esoil_itemtype1 {
	color: #C5C29E;
	font-weight: bold;
	font-size: 0.9em;
	position: absolute;
	top: 0.5em;
	left: 0.5em;
}

.esoil_itemtype2 {
	color: #C5C29E;
	font-weight: bold;
	font-size: 0.9em;
	position: absolute;
	top: 1.7em;
	left: 0.5em;
}

.esoil_itembindtype {
	color: #C5C29E;
	font-weight: bold;
	font-size: 0.9em;
	position: absolute;
	right: 0.5em;
	top: 1.7em;
	text-align: right;
}

.esoil_itemname {
	font-weight: bold;
	font-size: 1.5em;
	color: #fff;
	text-align: center;
	position: absolute;
 	width: 100%;
	top: 2em;
}

.esoil_datablock {
	position: relative;
	top: 1em;
	text-align: center;
	white-space: nowrap;
}

.esoil_itemlevelblock {
}

.esoil_itemlevelblock img {
	vertical-align: middle;
}

.esoil_itemvalueblock {
}

.esoil_itemvalue, .esoil_itemlevel, .esoil_itemleft {
	color: #fff;
	display: inline;
	font-size: 1.6em;
	margin-left: 4px;
}

.esoil_itemleftblock {
}

.esoil_itemleftblock, .esoil_itemvalueblock, .esoil_itemlevelblock {
	color: #C5C29E;
	display: inline;
	font-size: 0.9em;
	font-weight: bold;
	height: 1.6em;
	line-height: 1.6em;
	vertical-align: middle;
	margin-right: 1.5em;
	margin-left: 1.5em;
	white-space: nowrap;
}

.esoil_itemdesc {
	font-size: 0.8em;
	color: #C5C29E;
	margin: 10px;
}

.esoil_quality_None {
	color: #fff;
}

.esoil_quality_Normal {
	color: #fff;
}

.esoil_quality_Fine {
	color: #2DC50E;
}

.esoil_quality_Superior {
	color: #3A92FF;
}

.esoil_quality_Epic {
	color: #A02EF7;
}

.esoil_quality_Legendary {
	color: #ffff33;
}

.esoil_item_hr {
	position: relative;
	top: 0.8em;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.esoil_itembar, .esoil_itemsetblock, .esoil_itemtraitblock, .esoil_itemenchantblock, .esoil_itemabilityblock {
	display: block;
	margin-top: 10px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
	color: #C5C29E;
}

.esoil_itembar {
	margin-top: 1.5em;
	margin-bottom: 0.4em;
}

.esoil_white
{
	display: inline;
	color: white;
}

.esoil_small
{
	display: inline;
	color: white;
	font-size: 0.9em;
}