.esois_itemicon {
	vertical-align: middle;
}

.esois_itemlink {
	text-decoration: none;
}

.esois_resultrow {
	
}

.esois_resultrow:hover {
	background-color: #ccc;
}

.esois_itemdesc {
	font-size: 0.9em;
	display: block;
}

.esois_itemdata {
	font-size: 0.9em;
	display: inline;
}

#esois_searchcount {
	font-weight: bold;
	margin-bottom: 10px;
}

#esois_searchoptions {
	display: block;
	margin-bottom: 10px;
	border: 1px solid silver;
    border-top-width: 0 !important;
    padding: 7px;
    width: 500px;
}

#esois_searchresults {
	margin: 10px;
}

#esois_searchresultstable {
	margin-left: 0px;
	border-collapse: collapse;
}

#esois_searchresultstable td, #esois_searchresultstable th {
  border: 1px solid #999;
  padding: 0.3rem;
  text-align: left;
}

.esois_searchbutton {
	float: right;
	font-weight: bold;
}

.esois_searchbutton:hover {
}

.esois_clearbutton {	
}

.esois_clearbutton {
}

.esois_label1 {
	display: inline-block;
	width: 100px;
	text-align: right;
    margin-bottom: 5px;
    font-weight: bold;
}

.esois_searchoptionheader {
	display: block;
	width: 100%;
    background-color: #F5DEB3;
	border: 1px solid silver;
	padding: 7px;
	width: 500px;
}

.esois_helpbutton {
    width: 13px;
    height: 13px;
    display: inline-block;
    background-color: #666;
    color: #fff;
    font-size: 11px;
    text-align: center;
    vertical-align: middle;
    margin-bottom: 10px;
    position: relative;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    border: solid 1px black;
}

.esois_helpbutton:hover {
	background-color: #00f;
}

.esois_helpbutton:hover:after {
    background: #ffff99;
    border-radius: 5px;
    bottom: 26px;
    color: #000;
    content: attr(tooltip);
    left: 20%;
    padding: 5px 15px;
    position: absolute;
    z-index: 98;
    width: 340px;
    font-size: 13px;
    font-weight: normal;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.esois_helpbutton:hover:before {
    border: solid;
    border-color: #ffff99 transparent;
    border-width: 6px 6px 0 6px;
    bottom: 20px;
    content: "";
    left: 50%;
    position: absolute;
    z-index: 99;
}

.esois_helptext {
	display: none;
}

.eso_item_link_q0 { color: #888 !important; }
.eso_item_link_q1 { color: #888 !important; }
.eso_item_link_q2 { color: #2DC50E !important; }
.eso_item_link_q3 { color: #3A92FF !important; }
.eso_item_link_q4 { color: #A02EF7 !important; }
.eso_item_link_q5 { color: #CCAA1A !important; }

.esois_imagelink {
	font-size: 0.9em;
	float: right;
}

.esois_imagelink:hover {
	background-color: #9999ff;
}