@font-face {
	font-family: 'EsoFontStyle';
	src: url('esofontregular-webfont.eot');
	src: url('esofontregular-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontregular-webfont.woff2') format('woff2'),
		url('esofontregular-webfont.woff') format('woff'),
		url('esofontregular-webfont.ttf') format('truetype'),
		url('esofontregular-webfont.svg#esofontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyle';
	src: url('esofontbold-webfont.eot');
	src: url('esofontbold-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontbold-webfont.woff2') format('woff2'),
		url('esofontbold-webfont.woff') format('woff'),
		url('esofontbold-webfont.ttf') format('truetype'),
		url('esofontbold-webfont.svg#esofontbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyleAlt';
	src: url('esofontregular-webfont.eot');
	src: url('esofontregular-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontregular-webfont.woff2') format('woff2'),
		url('esofontregular-webfont.woff') format('woff'),
		url('esofontregular-webfont.ttf') format('truetype'),
		url('esofontregular-webfont.svg#esofontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyleAlt';
	src: url('esofontbold-webfont.eot');
	src: url('esofontbold-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontbold-webfont.woff2') format('woff2'),
		url('esofontbold-webfont.woff') format('woff'),
		url('esofontbold-webfont.ttf') format('truetype'),
		url('esofontbold-webfont.svg#esofontbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

body {
	background-color: #FBEFD5;
	font-family: sans-serif;
	font-size: 13px;
}

h1, h2, h3 {
	margin: 5px;
}

#eso_footer {
	color: #777;
	font-style: italic;
	font-size: 0.9em;
}

#eso_footer a {
	text-decoration: none;
	color: #6666ff;
}

#eso_footer a:visited {
	text-decoration: none;
	color: #996699;
}

a:hover {
	background-color: #ccc;
}

#esopd_root {
	display: inline-block;
}

#esopdRight {
	margin-left: 700px;
	min-width: 450px;
    vertical-align: top;
}

#esopdReagents, #esopdFindPotions, #esopdSolvents, #esopdLearn {
	border: solid 1px gray;
    border-radius: 4px;
    display: inline-block;
    padding: 5px;
    vertical-align: top;
	min-width: 460px;
}


#esopdEffects {
	width: 226px;
	padding: 3px;
	border: solid 1px gray;
    border-radius: 4px;
	float: left;
}

.esopdEffect {
	width: 220px;
	height: 21px;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	font-weight: bold;
	vertical-align: middle;
	padding: 2px;
	border: 2px solid transparent;
	overflow: hidden;
    white-space: nowrap;
}

.esopdEffect:hover {
	cursor: pointer;
	background-color: #ccc;
	border: 2px solid silver;
}

.esopdEffectPositive {
	background-color: #cfc;
}

.esopdEffectNegative {
	background-color: #fcc;
}

.esopdEffect img {
	width: 24px;
	height: 24px;
	vertical-align: middle;
}

.esopdReagent, .esopdSolvent {
	width: 110px;
	height: 110px;
	display: inline-block;
	text-align: center;
	border: 2px solid transparent;
}

.esopdReagentIcon, .esopdSolventIcon {
	width: 64px;
	height: 64px;
	display: inline-block;
	border: solid 1px transparent;
}

.esopdReagentIcon:hover, .esopdSolventIcon:hover {
	background-color: #ccc;
	border: solid 1px silver;
	cursor: pointer;
}

.esopdReagentName, .esopdSolventName {
	display: inline-block;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.esopdTraits {
	display: inline-block;
}

.esopdTraits img {
	width: 20px;
	height: 20px;
	display: inline-block;
}

#esopdTooltipContainer {
	display: inline-block;
	width: 460px;
	height: 500px;
}

#esopdWorkArea {
	display: inline-block;
	width: 460px;
}

#esopdCenter {
	float: left;
	width: 455px;
	vertical-align: top;
	text-align: center;
}

#esopdLeft {
	display: inline-block;
	width: 1020px;
    vertical-align: top;
}

#esopdSolventUsed, #esopdReagent1, #esopdReagent2, #esopdReagent3 {
	width: 110px;
	height: 100px;
	display: inline-block;
	text-align: center;
	vertical-align: top;
}

#esopdReagentIcon:hover {
	cursor: pointer;
	background-color: #ccc;
}

#esopdSolventUsed {
    margin-top: 30px;
}

.esopdWorkAreaName {
	text-align: center;
	font-weight: bold;
	font-family: "Arial", sans-serif;
	font-size: 12px;
	height: 16px;
}

.esopdReagentEffects {
	width: 32px;
	height: 32px;
	background-image: url("crafting_alchemy_trait_slot.png");
	background-size: 32px 32px;
	display: inline-block;
	overflow: hidden;
}

.esopdReagentEffects img {
	width: 26px;
	height: 26px;
	display: inline-block;
	position: relative;
    left: 0px;
    top: 3px;
}

.esopdEffectHighlighted {
	border: 2px solid #77f;
}

.esopdReagentDisable {
	opacity: 0.25;
}

.esopdEffectDisable {
	opacity: 0.5;
}

.esopdReagentHighlight {
	border: 2px solid #77f;
    border-radius: 5px;
}

#esopdResetEffects {
	float: right;
	margin-right: 25px;
}

#esopdFindEffects {
	float: right;
}

#esopdReagentTabs {
}

.esopdReagentTab {
	display: inline-block;
    width: 75px;
    padding: 3px;
    border: solid 1px gray;
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    font-size: 14px;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
    position: relative;
    top: 1px;
}

.esopdReagentTab:hover {
	cursor: pointer;
	background-color: #ccc;
}

.esopdReagentTabSelected {
    background-color: #FBEFD5;
    font-weight: bold;
}

.esopdReagentTabSpacer {
    display: inline-block;
    width: 5px;
}

#esopdFindPotionMsg {
	padding: 5px;
    display: inline;
}

#esopdFindPotionResults {
	max-height: 855px;
    overflow: auto;
}

.esopdPotionResult {
	padding: 3px;
	vertical-align: middle;
}

.esopdPotionResult:hover {
	cursor: pointer;
	background-color: #ccc;
}

.esopdPotionResultName {
	font-weight: bold;
	display: inline-block;
	vertical-align: middle;
}

.esopdPotionResultName img {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}

.esopdPotionResultEffects {
	display: inline-block;
	vertical-align: middle;
}

.esopdPotionResultEffects img {
	width: 20px;
	height: 20px;
	display: inline-block;
	vertical-align: middle;
}

.esopdPotionResultsList {
}

#esopdCopyItemLink {
    text-align: right;
    padding-right: 25px;
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;
    color: blue;
    float: right;
}

.esopdEffectName {
	display: inline-block;
}

#esopdPotionLink {
	float: right;
	font-weight: bold;
}

#esopdPotionData {
	margin-left: 25px;
	float: left;
}

.esopdLearnList li:hover {
	cursor: pointer;
	background-color: #ccc;
}