@font-face {
	font-family: 'EsoFontStyle';
	src: url('esofontregular-webfont.eot');
	src: url('esofontregular-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontregular-webfont.woff2') format('woff2'),
		url('esofontregular-webfont.woff') format('woff'),
		url('esofontregular-webfont.ttf') format('truetype'),
		url('esofontregular-webfont.svg#esofontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyle';
	src: url('esofontbold-webfont.eot');
	src: url('esofontbold-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontbold-webfont.woff2') format('woff2'),
		url('esofontbold-webfont.woff') format('woff'),
		url('esofontbold-webfont.ttf') format('truetype'),
		url('esofontbold-webfont.svg#esofontbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

body {
	background-color: #FBEFD5;
	font-family: sans-serif;
	font-size: 13px;
}

h1, h2, h3 {
	margin: 5px;
}

#esovs_footer {
	color: #777;
	font-style: italic;
	font-size: 0.9em;
}

#esovs_footer a {
	text-decoration: none;
	color: #6666ff;
}

#esovs_footer a:visited {
	text-decoration: none;
	color: #996699;
}

a:hover {
	background-color: #ccc;
}


#esovsLeftBlock {
	width: 50%;	
	padding: 5px;
}

#esovsRightBlock {
	float:right;
	width: 50%;
	padding: 5px;
}

#esovsSkillTree {
	font-family: "EsoFontStyle", "Arial", sans-serif;
	font-size: 16px;
    width: 200px;
    display: inline-block;
}

.esovsSkillType {
	margin-left: 15px;
}

.esovsSkillTypeTitle {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    padding: 8px;
    padding-left: 0px;
}

.esovsSkillTypeTitle:hover {
	background-color: #999;
	cursor: pointer;
}

.esovsSkillLineTitle:hover {
	background-color: #999;
	cursor: pointer;
}

.esovsSkillLineTitle {
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    padding: 2px;
}

.esovsSkillLineTitleHighlight {
}

.esovsSkillTypeTitleHighlight {
	color: #000099;
	background-color: #ccc;
}

#esovsSkillContent {
	display: inline-block;
	vertical-align: top;
	font-family: "EsoFontStyle", "Arial", sans-serif;
	font-size: 16px;
	width: 700px;
}

.esovsSkillContentBlock {
	
}

.esovsSkillContentTitle {
	font-size: 24px;
    font-weight: bold;
    color: #000000;
    padding: 8px;
    padding-left: 0px;
}

.esovsSkillBlockTypeTitle {
	font-size: 20px;
    font-weight: bold;
    color: #666622;
    padding: 5px;
}

.esovsAbilityBlock {
	padding: 5px;
	margin-left: 5px;
	clear: both;
}

.esovsAbilityBlockTitle {
	font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-left: 10px;
    display: block;
	width: auto;
	overflow: hidden;
}

.esovsAbilityBlock:hover {
	background-color: #aaa;
	cursor: pointer;
}

.esovsAbilityBlockIcon, .esovsAbilityBlockPassiveIcon {
	display: inline-block;
	width: 52px;
	height: 52px;
	background-size: 100% 100%;
    margin: 5px;
    float: left;
}

.esovsAbilityBlockIcon {
	background-image: url(eso_ability_frame.png);
}

.esovsAbilityBlockPassiveIcon {
	background-image: url(eso_round_ability_frame.png);
}

.esovsAbilityBlockIcon img, .esovsAbilityBlockPassiveIcon img {
	width: 48px;
    height: 48px;
    margin-top: 2px;
    margin-left: 2px;
    vertical-align: middle;
}

.esovsAbilityBlockDesc {
	font-size: 14px;
    font-weight: normal;
    color: #000000;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

.esovsAbilityBlockName {
	display: inline-block;
	float: left;
	width: 250px;
}

.esovsAbilityBlockLevel {
	font-size: 14px;
    font-weight: bold;
    color: #000000;
    display: inline-block;
    float: right;
    text-align: right;
}

.esovsAbilityBlockCost {
	font-size: 14px;
    font-weight: bold;
    color: #000000;
    display: inline-block;
    text-align: center;
    float: center;
}

.esovsAbilityBlockTitleLabel {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.esovsAbilityBlockList {
	margin-left: 30px;
	background-color: #EBDFC5; 
	overflow: hidden;
    clear: both;
}

.esovsAbilityBlockList .esovsAbilityBlockDesc {
}

.esovsAbilityBlockList .esovsAbilityBlockIcon,
.esovsAbilityBlockList .esovsAbilityBlockPassiveIcon {
	width: 52px;
	height: 52px;
}

.esovsAbilityBlockList .esovsAbilityBlockIcon img, 
.esovsAbilityBlockList .esovsAbilityBlockPassiveIcon img {
	width: 48px;
    height: 48px;
    margin-top: 2px;
    margin-left: 2px;
}

.esovsBlockClear {
	float: none;
	clear: both;
}