@font-face {
	font-family: 'EsoFontStyle';
	src: url('esofontregular-webfont.eot');
	src: url('esofontregular-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontregular-webfont.woff2') format('woff2'),
		url('esofontregular-webfont.woff') format('woff'),
		url('esofontregular-webfont.ttf') format('truetype'),
		url('esofontregular-webfont.svg#esofontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyle';
	src: url('esofontbold-webfont.eot');
	src: url('esofontbold-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontbold-webfont.woff2') format('woff2'),
		url('esofontbold-webfont.woff') format('woff'),
		url('esofontbold-webfont.ttf') format('truetype'),
		url('esofontbold-webfont.svg#esofontbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyleAlt';
	src: url('esofontregular-webfont.eot');
	src: url('esofontregular-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontregular-webfont.woff2') format('woff2'),
		url('esofontregular-webfont.woff') format('woff'),
		url('esofontregular-webfont.ttf') format('truetype'),
		url('esofontregular-webfont.svg#esofontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyleAlt';
	src: url('esofontbold-webfont.eot');
	src: url('esofontbold-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontbold-webfont.woff2') format('woff2'),
		url('esofontbold-webfont.woff') format('woff'),
		url('esofontbold-webfont.ttf') format('truetype'),
		url('esofontbold-webfont.svg#esofontbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

#esovs_footer {
	color: #777;
	font-style: italic;
	font-size: 0.9em;
}

#esovs_footer a {
	text-decoration: none;
	color: #6666ff;
}

#esovs_footer a:visited {
	text-decoration: none;
	color: #996699;
}

#esovsLeftBlock {
	font-family: "EsoFontStyleAlt", "Arial", sans-serif;
	width: 400px;
	float: left;
    padding-right: 5px;
    border-right: solid 2px #afaf94;	
}

#esovsRightBlock {
	font-family: "EsoFontStyleAlt", "Arial", sans-serif;
	margin-left: 410px;
	padding-left: 5px;
}

#esovsSkillTree {
	font-family: "EsoFontStyleAlt", "Arial", sans-serif;
	font-size: 16px;
    width: 170px;
	float: left;
}

.esovsSkillType {
	margin-left: 15px;
}

.esovsSkillTypeTitle {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    padding: 4px;
	margin: 4px;
    padding-left: 5px;
}

.esovsSkillTypeTitle:hover {
	border-radius: 15px;
	background-color: #E3d5c0;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.7);
	cursor: pointer;
}

.esovsSkillLineTitle {
    font-size: 17px;
    font-weight: bold;
    color: #000000;
    padding: 2px;
    padding-left: 5px;
}

.esovsSkillLineTitle:hover {
	border-radius: 10px;
	background-color: #E3d5c0;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.7);
	cursor: pointer;
}

.esovsSkillLineTitleHighlight {
	border-radius: 10px;
	background-color: #aaa;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.7);
}

.esovsSkillTypeTitleHighlight {
}

#esovsSkillContent {
	vertical-align: top;
	font-family: "EsoFontStyleAlt", "Arial", sans-serif;
	font-size: 16px;
	min-width: 400px;
	margin-left: 175px;
}

.esovsSkillContentBlock {
	padding-left: 20px;
}

.esovsSkillContentTitle {
	font-size: 24px;
    font-weight: bold;
    color: #000000;
    padding: 8px;
    padding-left: 0px;
}

.esovsSkillBlockTypeTitle {
	font-size: 20px;
    font-weight: bold;
    color: #666622;
    padding: 5px;
}

.esovsAbilityBlock {
	padding: 5px;
    display: inline-block;
    width: 99%;
	border-radius: 20px;
	position: relative;
}

.esovsAbilityBlockHover:hover {
	background-color: #E3d5c0;
	cursor: pointer;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.esovsAbilityBlockTitle {
	font-size: 18px;
    font-weight: bold;
    color: #000000;
    margin-left: 10px;
    display: block;
	width: auto;
	overflow: hidden;
}

.esovsAbilityBlockIcon, .esovsAbilityBlockPassiveIcon {
	display: inline-block;
	width: 52px;
	height: 52px;
	background-size: 100% 100%;
    margin: 5px;
    float: left;
    position: relative;
	webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.esovsAbilityBlockIcon:after {
	background-image: url(eso_ability_frame.png);
	background-size: 100% 100%;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.esovsAbilityBlockPassiveIcon:after {
	background-image: url(eso_round_ability_frame.png);
	background-size: 100% 100%;
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.esovsAbilityBlockIcon img, .esovsAbilityBlockPassiveIcon img {
	width: 48px;
    height: 48px;
    margin-top: 2px;
    margin-left: 2px;
    vertical-align: middle;
}

.esovsAbilityBlockIconLevel {
    position: absolute;
    bottom: 2px;
    right: 2px;
    color: #FFFF99;
    text-shadow: 0px 0px 2px black;
    z-index: 10;
    background-color: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 1px;
    box-shadow: 0px 0px 2px rgb(0, 0, 0);
	webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

.esovsAbilityBlockDesc {
	font-size: 14px;
    font-weight: normal;
    color: #000000;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    line-height: 1.2em;
}

.esovsAbilityBlockEffectLines {
	display: inline;
}

.esovsAbilityBlockName {
	display: inline-block;
	float: left;
	width: 250px;
}

.esovsAbilityBlockLevel {
	font-size: 15px;
    font-weight: bold;
    color: #000000;
    display: inline-block;
    float: right;
    text-align: right;
}

.esovsAbilityBlockCost {
	font-size: 17px;
    font-weight: bold;
    color: #000000;
    display: inline-block;
    text-align: center;
    float: center;
}

.esovsAbilityBlockTitleLabel {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
}

.esovsAbilityBlockList {
	margin-left: 60px;
	overflow: hidden;
	border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

.esovsAbilityBlockList .esovsAbilityBlockDesc {
}

.esovsAbilityBlockList .esovsAbilityBlockIcon,
.esovsAbilityBlockList .esovsAbilityBlockPassiveIcon {
	width: 52px;
	height: 52px;
}

.esovsAbilityBlockList .esovsAbilityBlockIcon img, 
.esovsAbilityBlockList .esovsAbilityBlockPassiveIcon img {
	width: 48px;
    height: 48px;
    margin-top: 2px;
    margin-left: 2px;
}

.esovsBlockClear {
	float: none;
	clear: both;
}

.esovsAbilityBlockPlus,
.esovsAbilityBlockPlusSelect {
	width: 32px;
	height: 32px;
	margin-top: 16px;
	float: left;
	opacity: 1;
}

.esovsAbilityBlockMinusSelect {
	width: 32px;
	height: 32px;
	position: absolute;
	top: 35px;
	left: 5px;
	opacity: 1;
}

/*
.esovsAbilityBlockPlusSelect {
	width: 32px;
	height: 32px;
	margin-top: 16px;
	float: left;
	opacity: 1;
	position: relative;
	top: -12px;
}*/

.esovsAbilityBlockNotPurchase .esovsAbilityBlockIcon, 
.esovsAbilityBlockNotPurchase .esovsAbilityBlockTitle,
.esovsAbilityBlockNotPurchase .esovsAbilityBlockPassiveIcon {
	opacity: 0.3;
}

.esovsAbilityBlockPlus:hover,
.esovsAbilityBlockPlusSelect:hover,
.esovsAbilityBlockMinusSelect:hover {
	cursor: pointer;
	opacity: 0.3;
}

.esovsPlusMinusDisable {
	cursor: not-allowed !important;
	opacity: 0.3;
}

.esovsAbilityBlockPlus:hover .esovsPlusMinusDisable,
.esovsAbilityBlockPlusSelect:hover .esovsPlusMinusDisable,
.esovsAbilityBlockMinusSelect:hover .esovsPlusMinusDisable {
	cursor: not-allowed !important;
	opacity: 0.4;
}

#esovsSkillTooltipRoot {
	text-align: center;
}

.esovsSkillTooltip {
	width: 360px;
	background-image: url(eso_skill_border.png);
	background-size: 100% 100%;
	color: #C5C29E;
	line-height: 125%;
	text-align: left;
    white-space: normal;
	padding: 10px;
	display: inline-block;
}

.esovsSkillTooltipDivider {
	width: 100%;
	height: 3px;
	padding-top: 10px;
    padding-bottom: 5px;
}

.esovsSkillTooltipDesc {
	text-align: center;
	font-size: 16px;
	line-height: 1.3em;
	padding: 10px;
}

.esovsSkillTooltipEffectLines {
	text-align: center;
	font-size: 16px;
	line-height: 1.3em;
	padding: 10px;
	color: #33dd33;
}

.esovsSkillTooltipTitle {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	color: WHITE;
	padding-top: 8px;
}

.esovsSkillTooltipName {
	font-size: 17px;
	font-weight: bold;
	color: #C5C29E;
	margin-left: 10px;
	line-height: 1.3em;
}

.esovsSkillTooltipValue {
	font-size: 17px;
	font-weight: bold;
	float: right;
	color: WHITE;
	margin-right: 10px;
	line-height: 1.3em;
}

.esovsSkillTooltipLevel {
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	color: RED;
	margin-top: 12px;
}

.esovsWhite {
	display: inline;
	color: white;
}

.esovsBold {
	font-weight: bold;
	display: inline;
}

#esovsControls {
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	font-family: "Arial", sans-serif;
	font-size: 13px;
	font-weight: normal;
}

.esovsInputControl
{
	width: 40px;
	display: inline-block;
}

.esovsRangeControl {
	display: inline-block;
	border: none;
	background: none;
	width: 200px;
	vertical-align: middle;
	padding-bottom: 4px;
}

.esovsRangeLabel {
	display: inline-block;
	font-weight: bold;
	width: 110px;
	text-align: right;
}

#esovsRawData,
#esovsSkillCoefData {
	font-family: "Arial", sans-serif;
	font-size: 13px;
	font-weight: normal;
	position: relative;
}

.esovsRawDataName {
	width: 100px;
	font-weight: bold;
	text-align: right;
    display: inline-block;
    vertical-align: top;
}

.esovsRawDataValue {
	width: 280px;
    display: inline-block;
	text-align: left;
    padding-left: 10px;
	vertical-align: top;
	overflow: hidden;
}

.esovsRawDataRow {
	display: block;
	width: 100%;
}

.esovsRawDataRow:nth-child(even) {
	background-color: #FFF7E0;
}

.esovsRawDataSkillLink {
	float: right;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 2px;
}

#esovsSkillHistoryLink {
	float: right;
	font-size: 12px;
	font-weight: normal;
	position: absolute;
	right: 2px;
}

#esovsSkillCoefData {
	font-size: 13px;
}

.esovsSkillCoefRow {
	margin-left: 10px;
	margin-top: 5px;
}

.esovsSkillCoefRowDetail {
	margin-left: 50px;
}

.esovsSkillCoefDesc {
	text-align: center;
	padding: 5px;
	margin-top: 10px;
}

.esovsShowHideButton {
	width: 100%;
	background-color: #DBBFA5;
    color: #666666;
    height: 18px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    border-style: solid;
    border-color: #bbb #888 #666 #aaa;
    border-width: 1px 2px 2px 1px;
}

.esovsShowHideButton:hover {
	cursor: pointer; 
	background-color: #AB9F95;
    border-color: #666 #aaa #bbb #888;
    border-width: 2px 1px 1px 2px;
}

#esovsSearchBlock {
	float: right;
	background-color: #FBEFD5;
	position: fixed;
	right: 0px;
	top: 0px;
	padding: 7px;
	z-index: 10;
}

#esovsSearchBlockFloat {
	float: right;
	background-color: #FBEFD5;
	padding: 7px;
}

.esovsSearchHighlight {
	background-color: white;
	border-radius: 15px;
	box-shadow: 0px 0px 6px rgba(0,0,0,0.7);
}

.esovsLinkBlock {
	float: right;
	background-color: #FBEFD5;
	position: absolute;
	right: 350px;
	top: 0px;
	padding: 7px;
	padding-top: 10px;
}
 
.esovsLinkBlockFloat {
	float: right;
	padding: 7px;
	padding-top: 10px;
}

#esovsPopupSkillTooltip {
	width: 360px;
	line-height: 125%;
	text-align: left;
    white-space: normal;
	font-family: "EsoFontStyleAlt", "Arial", sans-serif;
	position: absolute;
	z-index: 50;
}

.esovsUpdateDate {
	color: #777;
	font-style: italic;
}

.esovsMagicka {
	color: #50A7FC;
}

.esovsStamina {
	color: #96DA43;
}

.esovsUltimate {
	color: #FFFFFF;
}

.esovsHealth {
	color: #C84831;
}

.esovsChargeFreq {
	color: #FFFFFF;
	display: inline-block;
}

.esovsAbilityBlockCost .esovsChargeFreq {
	color: #000;
}

.esovsAbilityNone {
	padding: 10px;
	font-weight: bold;
	font-size: 18px;
	vertical-align: middle;
	line-height: 32px;
}

.esovsAbilityNone img {
	vertical-align: middle;
	margin-left: 7px;	
}

#esovsSkillBar {
	width: 580px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;
	padding-top: 10px;
	webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.esovsSkillBar {
	border: solid 2px rgba(0,0,0,0);
	padding: 2px;
	text-align: left;
}

.esovsSkillBar:hover {
	cursor: pointer;
	background-color: #ffff99;
}

.esovsSkillBarHighlight {
	border: solid 2px yellow !important;
	background-color: #99ffff;
}

.esovsSkillBarItem {
	display: inline-block;
    width: 68px;
    height: 68px;
    background-image: url(eso_ability_frame.png);
    background-size: 100% 100%;
    vertical-align: middle;
    text-align: center;
	background-color: black;
}

.esovsSkillBarTitle {
	display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
    width: 75px;
    text-align: right;
	font-weight: bold;
    font-size: 17px;    
}

.esovsSkillBarIcon {
	width: 64px;
    height: 64px;
    left: 0px;
    top: 2px;
    position: relative;
    background-color: black;
}

#esovsSkillPointsContent {
	text-align: center;
}

#esovsSkillPointsTitle {
	display: inline-block;
	margin-top: 20px;
}

#esovsSkillPoints {
	display: inline-block;	
	font-weight: bold;
	font-size: 18px;
}

#esovsSkillReset {
	margin-top: 20px;
}

.esovsSkillLinePurchaseAll {
	float: right;
	margin-right: 20px;
	margin: 10px;
}

.esovsSkillLineResetAll {
	float: right;
    margin: 10px;
}

.esovsSkillAcceptHover {
	border: solid 2px yellow;
}

.esovsSkillDraggableBad {
}

.esovsSkillDraggableGood {
	display: none;
}

.esovsSkillDraggable {
	width: 64px !important;
	height: 64px !important;
	z-index: 20;
}

.esovsSkillDraggable img {
	width: 64px !important;
	height: 64px !important;
}

.esovsSkillDraggable .esovsAbilityBlockIconLevel {
	display: none !important;
}

.esovsSkillDraggable.esovsAbilityBlockIcon:after {
	background-image: none;
}
