body {
	background-color: #FBEFD5;
	font-family: sans-serif;
	font-size: 13px;
}

h1, h2, h3 {
	margin: 5px;
}

a:hover {
}

@font-face {
	font-family: 'EsoFontStyle';
	src: url('esofontregular-webfont.eot');
	src: url('esofontregular-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontregular-webfont.woff2') format('woff2'),
		url('esofontregular-webfont.woff') format('woff'),
		url('esofontregular-webfont.ttf') format('truetype'),
		url('esofontregular-webfont.svg#esofontregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyle';
	src: url('esofontbold-webfont.eot');
	src: url('esofontbold-webfont.eot?#iefix') format('embedded-opentype'),
		url('esofontbold-webfont.woff2') format('woff2'),
		url('esofontbold-webfont.woff') format('woff'),
		url('esofontbold-webfont.ttf') format('truetype'),
		url('esofontbold-webfont.svg#esofontbold') format('svg');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyleAlt';
	src: url('esofontregular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'EsoFontStyleAlt';
	src: url('esofontbold-webfont.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

#esotbFooter {
	color: #777;
	font-style: italic;
	font-size: 0.9em;
}

#esotbFooter a {
	text-decoration: none;
	color: #6666ff;
}

#esotbFooter a:visited {
	text-decoration: none;
	color: #996699;
}

.esotbUpdateDate {
	color: #777;
	font-style: italic;
}

#esotbAttributes {
	text-align: center;
}

.esotbAttrLabel {
	width: 60px;
	text-align: right;
	font-weight: bold;
	display: inline-block;
}

.esotbStatLabel {
	width: 125px;
	text-align: right;
	font-weight: bold;
	display: inline-block;
	padding: 5px;
}

.esotbAttrTitle {
	background-color: #E3d5c0;
	font-weight: bold;
	text-align: center;
	padding: 3px;
	margin: 3px;
}

.esotbAttributeInput, .esotbLevelInput {
	font-weight: normal;
	display: inline-block;
	width: 50px;
}

#esotbStatInputs {
	float: left;
	display: inline-block;
	padding: 7px;
}

#esotbStatList {
	width: 300px;
	padding: 7px;
	display: inline-block;
}

.esotbStatTitle {
	width: 100%;
	font-size: 16px;
	font-weight: bold;
	margin: 5px;
	border-bottom: solid 1px gray;
}

.esotbBlockClear {
	float: none;
	clear: both;
}

.esotbStatRow {
	padding: 3px;
	position: relative;
}

.esotbStatRow:hover {
	background-color: #FFF5E0;
}

.esotbStatName {
	width: 200px;
	text-align: left;
	font-weight: bold;
	display: inline-block;
}

.esotbStatValue {
	width:75px;
	text-align: left;
	font-weight: bold;
	display: inline-block;
}

.esotbStatComputeValue {
	width: 50px;
	display: inline-block;
	font-family: monospace;
	font-size: 12px;
	text-align: left;
	margin-left: 25px;
}

.esotbComputeItems:hover {
	cursor: pointer;
}

.esotbStatComputeItem {
	font-family: monospace;
	font-size: 11px;
	text-align: left;
	width: 215px;
	display: inline-block;
}

.esotbStatComputeButton {
	width: 16px;
	height: 16px;
	background-color: #DBBFA5;
	text-align: center;
	float: right;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	position: absolute;
	right: 2px;
	top: 2px;
}

.esotbStatComputeButton:hover {
	cursor: pointer;
	background-color: #777;
}

.esotbItem {
	vertical-align: middle;
	line-height: 48px;
	display: inline-block;
	width: 250px;
	position: relative;
}

.esotbItem:hover {
}

.esotbItemIcon {
	width: 48px;
	height: 48px;
	display: inline-block;
	background-color: #ccc;
	vertical-align: middle;
	cursor: pointer;
	border: solid 2px transparent;
	margin: 2px;
}

.esotbItemIcon:hover {
	border: solid 2px black;
}

.esotbItemLabel {
	font-weight: normal;
	display: inline-block;
	vertical-align: top;
	width: 190px;
    top: 22px;
    position: relative;
	line-height: 1.1em;
    max-height: 50px;
    overflow: hidden;
}

#esotbClickWall {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 20;
	background-color: rgba(0,0,0,0.5);
}

#esotbFormulaPopup {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 750px;
	margin-top: -250px;
	margin-left: -375px;
	z-index: 40;
	border: solid 2px gray;
	background-color: #FBEFD5;
	padding: 7px;
	text-align: center;
}

#esotbFormulaTitle {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	margin-bottom: 10px;	
}

#esotbFormulaName {
	font-family: monospace;
	font-size: 14px;
	display: inline;
}

#esotbFormula {
	font-family: monospace;
	font-size: 14px;
	display: inline;
}

#esotbFormulaCloseButton {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 16px;
	height: 16px;
	background-color: #DBBFA5;
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

#esotbFormulaCloseButton:hover {
	background-color: #888;
	cursor: pointer;
}

#esotbFormulaNote {
	margin-top: 10px;
	color: #777;
	font-style: italic;
	text-align: left;
}

#esotbRace, #esotbClass, #esotbMundus, #esotbMundus2 {
	width: 210px;
}

.esotbStatTab {
	display: inline-block;
	width: 120px;
	padding: 3px;
	border: solid 1px gray;
	padding 4px;
	text-align: center;
	vertical-align: middle;
	font-weight: normal;
	font-size: 14px;
	border-bottom: none;
	border-radius: 4px 4px 0px 0px;
	position: relative;
    top: 1px;
}

.esotbStatTab:hover {
	background-color: #ccc;
	cursor: pointer;
}

.esotbStatTabSelected {
	background-color: #FBEFD5;
	font-weight: bold;
}

.esotbStatTabSpacer {
	display: inline-block;
	width: 20px;
}

.esotbStatBlock {
	min-width: 400px;
	min-height: 200px;
	border: solid 1px gray;
	border-radius: 4px;
	padding: 8px;
}

/* Start CP Overrides */
.esovcpSkill {
	font-size: 16px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.esovcpSkillDesc {
	font-size: 12px;
	max-width: 600px;
	vertical-align: middle;
	display: inline-block;
	margin-left: 4px;
}

#esovcpContainer {
	margin-top: 10px;
	font-family: arial;
}
    
.esovcpDiscipline {
	height: 25px;
	line-height: 25px;
	font-size: 16px;
	vertical-align: middle;
}     

.esovcpDiscAttrPoints {
    height: 72px;
    padding-top: 45px;
    font-size: 20px;
    font-size: 16px;
}

#esovcpSkills {
    margin-left: 220px;
}

.esovcpTotalPoints {
	font-size: 18px;
}

.esovcpDiscPoints {
	font-size: 14px;
}

.esovcpDiscSkillTitle {
	font-size: 22px;
}

.esovcpDiscTitlePoints {
	font-size: 18px;
}

.esovcpSkillLevel {
	font-size: 13px;
}
/* End CP Overrides */

.esotbTargetInput {
	width: 75px;
}

.esotbMiscInput {
	width: 75px;
}

.esotbInputValueRO {
	display: inline-block;
	border: solid 1px gray;
	background-color: lightgray;
	padding: 2px;
	margin-top: 3px;
	min-width: 50px;
}

.eso_item_link_q1 { color: #fff !important; }

.esotbItemSlotLabel {
	width: 75px;
	text-align: right;
	font-weight: bold;
	display: inline-block;
	display: none;
	padding: 5px;
}

#esotbItemDetailsPopup {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 600px;
	margin-top: -200px;
	margin-left: -300px;
	z-index: 40;
	border: solid 2px gray;
	background-color: #FBEFD5;
	padding: 7px;
	text-align: center;
}

#esotbItemDetailsTitle {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	width: 100%;
	margin-bottom: 10px;	
}

#esotbItemDetailsText {
}

#esotbItemDetailsCloseButton {
	position: absolute;
	right: 5px;
	top: 5px;
	width: 16px;
	height: 16px;
	background-color: #DBBFA5;
	text-align: center;
	vertical-align: middle;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
}

#esotbItemDetailsCloseButton:hover {
	background-color: #888;
	cursor: pointer;
}

.esotbItemDetailsButton {
	width: 16px;
	height: 16px;
	background-color: #DBBFA5;
	text-align: center;
	float: right;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	position: absolute;
	left: 55px;
	top: 0px;
	line-height: 16px;
}

.esotbItemDetailsButton:hover {
	cursor: pointer;
	background-color: #777;	
}

#esotbFormulaInputs {
	margin-top: 10px;
	text-align: left;
	margin-left: 25px;
}

.esotbFormInputName, 
.esotbFormInputResult {
	display: inline-block;
	width: 200px;
	text-align: right;
	margin-right: 10px;
	font-family: monospace;
}

.esotbFormInputResult {
	font-weight: bold;
}

.esotbFormInputInputResult {
	font-weight: bold;
	background-color: #ccc;
}

.esotbItemEnchantButton {
	width: 16px;
	height: 16px;
	background-color: #DBBFA5;
	text-align: center;
	border-top: 1px solid #CCCCCC;
	border-right: 1px solid #333333;
	border-bottom: 1px solid #333333;
	border-left: 1px solid #CCCCCC;
	position: absolute;
	left: 75px;
	top: 0px;
	line-height: 16px;
}

.esotbItemEnchantButton:hover {
	cursor: pointer;
	background-color: #777;	
}

.esotbItem:hover:after {
	background: #eeeeaa;
    border-radius: 5px;
    border: solid 1px gray;
    color: #000;
    content: attr(slotid);
    left: -20px;
    top: -5px;
    padding: 3px;
    position: absolute;
    z-index: 98;
    font-size: 13px;
    font-weight: normal;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
    line-height: 1em;
    display: none;
}

.esotbItemEnchantButton:hover:after {
    background: #eeeeaa;
    border-radius: 5px;
    border: solid 1px gray;
    bottom: 18px;
    color: #000;
    content: "Enchant...";
    left: 20%;
    padding: 3px;
    position: absolute;
    z-index: 98;
    font-size: 13px;
    font-weight: normal;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    white-space: nowrap;
}

.esotbItemDetailsButton:hover:after {
    background: #eeeeaa;
    border-radius: 5px;
    border: solid 1px gray;
    bottom: 18px;
    color: #000;
    content: "View Item Details...";
    left: 20%;
    padding: 3px;
    position: absolute;
    z-index: 98;
    font-size: 13px;
    font-weight: normal;
    white-space: nowrap;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.esotbWeaponSelect {
	background-color: #99ffff;
}

button.esotbWeaponSelect {
	background-color: #ccc;
	opacity: 0.65; 
  	cursor: not-allowed;
}

.esotbWeaponSelect1, .esotbWeaponSelect2 {
	cursor: pointer;
}

#esotbRawInputs {

}

.esotbRawInputItem {
	
}

.esotbRawInputName {
	display: block;
	font-weight: bold;
	margin-top: 5px;
	padding: 3px;
}

.esotbRawInputValue {
	display: block;
	margin-left: 50px;
	padding: 1px;
}

#esotbSets {
	margin-top: 20px;
}

#esotbSets h3 {
	font-size: 16px;
}

#esotbSets h4
{
	margin: 3px;
	margin-top: 12px;
	font-size: 14px;
}

.esotbSetInfoSet {
	margin-left: 25px;
}

.esotbSetInfoRow {
	margin-left: 50px;
    padding: 2px;
}

#esotbItemToggleSets h3 {
	font-size: 16px;
}

.esotbToggledSetItem {
	margin-left: 20px;
}

.esotbToggleSetTitle {
	display: inline-block;
	font-weight: bold;
}

.esotbToggleSetDesc {
	display: inline-block;
}

#esotbItems {
	margin-left: 25px;
}

#esotbItemHead {
	left: 150px;
}

/* Skills override */
#esovsSkillContent {
	width: 650px;
}

.esovsSkillContentBlock {
	height: 600px;
	overflow: auto;
}

.esovsAbilityBlock  {
	padding: 0px;
}

.esovsAbilityBlockDesc {
	display: none;
}

.esovsAbilityBlockTitle {
	margin-top: 5px;
}

.esovsAbilityBlockList {
    padding: 5px;
    margin-right: 10px;
	margin-bottom: 5px;
}

.esovsAbilityBlockIcon,
.esovsAbilityBlockPassiveIcon,
.esovsAbilityBlockList .esovsAbilityBlockIcon,
.esovsAbilityBlockList .esovsAbilityBlockPassiveIcon {
	width: 34px;
	height: 34px;
}

.esovsAbilityBlockIcon img,
.esovsAbilityBlockPassiveIcon img,
.esovsAbilityBlockList .esovsAbilityBlockIcon img,
.esovsAbilityBlockList .esovsAbilityBlockPassiveIcon img
 {
	width: 32px;
	height: 32px;	
	margin-top: 1px;
	margin-left: 1px;
}

.esovsAbilityBlockTitleLabel {
	line-height: 32px;
}

.esovsAbilityBlockPlus,
.esovsAbilityBlockPlusSelect {
	margin-top: 6px;
	margin-left: 10px;
}

.esovsAbilityBlockIcon[draggable='true']{
	cursor: move;
}
/* End of Skills override */
